<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.campusin.tanyakampus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_tanya_kampus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_tanya_kampus_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RegisterPasswordActivity"/>
        <activity android:name=".activities.RegisterNameActivity" />
        <activity android:name=".activities.LandingPage" />
        <activity android:name=".activities.LoginPasswordActivity" />
        <activity android:name=".activities.LoginActivity"  />
        <activity android:name=".activities.MainActivity" android:noHistory="true"/>
        <activity android:name=".activities.SplashScreenActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>