<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.campusin.tanyakampus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".helper.AnalyticsApps"
        android:allowBackup="true"
        android:icon="@mipmap/logo_tanya_kampus"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_tanya_kampus_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PrivateMessageActivity"></activity>
        <activity android:name=".activities.DetailListAmbassadorActivity" />
        <activity android:name=".activities.DetailNewsActivity" />
        <activity android:name=".activities.DetailAmbassadorActivity" />
        <activity android:name=".activities.DetailDepartmentActivity" />
        <activity android:name=".activities.DetailUniversityActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.RegisterPasswordActivity" />
        <activity android:name=".activities.RegisterNameActivity" />
        <activity android:name=".activities.LandingPage" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>