<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.campusin.tanyakampus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".helper.AnalyticsApps"
        android:allowBackup="true"
        android:icon="@drawable/tanya_kampus_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/tanya_kampus_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.UpdateProfileActivity"/>
        <activity android:name=".activities.PrivateMessageActivity" />
        <activity android:name=".activities.DetailListAmbassadorActivity" />
        <activity android:name=".activities.DetailNewsActivity" />
        <activity android:name=".activities.DetailAmbassadorActivity" />
        <activity android:name=".activities.DetailDepartmentActivity" />
        <activity android:name=".activities.DetailUniversityActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.RegisterStep2Activity" />
        <activity android:name=".activities.RegisterStep1Activity" />
        <activity android:name=".activities.LandingPage" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>